page-login {
    .text-center{
        text-align: center; 
    }
    .text-right{
        text-align: right; 
    }
    

    .fondo{
        background-image: url("la ruta");
        background-size: 430px;
        background-position: center;
    }

    .transp{
        background-color: rgba(252, 253, 246, 0.29);
    }
    button.auth
    {
       color: #fff;
        background-color: #244c24;

    }
    a{
        font-weight: bold;
        color: #000;
    }

    
}
