page-bitacora-detalle {
  .toolbar-md-azulatome .bar-button-clear-md,
  .toolbar-md-azulatome .bar-button-default-md,
   .toolbar-md-azulatome .bar-button-outline-md,
    .toolbar-md-azulatome .toolbar-title-md
    {
     color : #ffff;
          }
  .titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold
  }
  .itemRow{
    text-align: center;
    font-size: 20px;
  }
  .itemCol{
    background: #dbf7f8;
    border-radius: 6px;
  }
  .negro{
      color: black;
  }
  .blanco{
    color: white;
  }
}
