<ion-header>
  <ion-navbar color="azulatome">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estaciones de Trabajo</ion-title>
  </ion-navbar>
  <ion-navbar color="azulatome">
    <ion-row>
      <ion-col class="groupTabs">
        <div class="centrar">
          <button class="tab tab1" (click)="openPage('MisestacionesPage')">Mis Bitácoras</button>
        </div>
      </ion-col>
      <ion-col class="">
        <div class="centrar">
          <button class="tab tab2" (click)="openPage('EstacionesPage')"> Estaciones de Trabajo</button>
        </div>
      </ion-col>

    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar"></ion-searchbar>
  <!-- se deben listar en orden de posibilidad de canje -->
  <ion-content>
    <ion-refresher *ngIf="mostrarSpiner === false" (ionRefresh)="refresh_bluetooth($event)">
      <ion-refresher-content refreshingText="Buscando dispositivos bluetooth"></ion-refresher-content>
    </ion-refresher>
    <ion-list class="ancho">
      <ion-card ion-item class="cartas" *ngFor="let device of devices">
        <!-- *ngFor="let bitacora of bitacoras let i = index" -->

        <ion-segment [hidden]="mostrarSpiner === false" align="center">
          <ion-spinner></ion-spinner>
          Buscando estaciones de trabajo
        </ion-segment>
        <ion-item-group>
          <button class="fondo" (click)="openPageHija('CrearBitacoraPage',device)" ion-item>
            <h3>Nombre: {{device.nombre}}</h3>
            <p>Id: {{device.id}}</p>
            <p>Dirección
              <span [hidden]="device.address == undefined">mac</span>
              <span [hidden]="device.uuid == undefined">uuid</span>: {{device.address}}{{device.uuid}}</p>

          </button>
        </ion-item-group>


      </ion-card>
      <br>

    </ion-list>
    <div [hidden]="li_devices.length > 0 || mostrarSpiner == true" align="center">
      <p>No se han encontrado dispositivos desliza hacia abajo para volver a buscar</p>
    </div>
  </ion-content>
</ion-content>